<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<div class="main-container" *ngIf="cv">
    <div class="main-content-section">
        <div class="about-me-section">
            <h2 class="about-me-profession">{{cv.position.position}}</h2>
            <h1 class="about-me-name">{{cv.personal.name}} {{cv.personal.surName}}</h1>
            <p class="about-me-description">
                I am a Junior Backend developer. I focus on fraimwork <a class="my-projects-link"
                    href="https://nestjs.com/">NestJs</a>,
                <a class="my-projects-link" href="https://angular.io/">Angular</a>, <a class="my-projects-link"
                    href="https://vuejs.org/">Vue</a>,
                JavaScript. Looking for a remote job. Development, practice and work
                for the result are important for me. I intend to develop innovative
                technologies and deliver value to people.
            </p>
        </div>

        <!-- My projects section -->

        <div class="my-projects-section">
            <h3 class="main-content-title">Projects</h3>
            <ol class="my-projects-list">


                <li class="my-projects-item" *ngFor="let additional of cv.additionals">
                    <span class="my-projects-text">
                        <a href=""
                            class="my-projects-link">{{additional.title}}</a>
                            <div [innerHTML]="getUrlParameter(additional.description, 'Project link')"></div>
                  </span>
                </li>


                <li class="my-projects-item">
                    <span class="my-projects-text">
                        <a href="https://vitasika.github.io/IceCream_Group-13_Team-project/"
                            class="my-projects-link">Passionate IceCream</a>
                        - IceCream company site. Head and Hero design, first team
                        project, mobile & tablet adaptive -
                        <a href="https://github.com/vitasika/team-project_IceCream_group-13"
                            class="my-projects-link">Project
                            link</a>
                        <span class="my-projects-bracket">
                            <br />
                            [</span>
                        HTML5/CSS3, SCSS, CSS3 Animations, Figma, Parcel, JavaScript,
                        Git/GitHub
                        <span class="my-projects-bracket">]</span>
                    </span>
                </li>
                <li class="my-projects-item">
                    <span class="my-projects-text">
                        <a href="https://vitasika.github.io/goit-markup-hw-08/" class="my-projects-link">WebStudio
                            site</a>
                        - 2-page portfolio site. First personal project, mobile & tablet
                        adaptive -
                        <a href="https://github.com/vitasika/goit-markup-hw-08" class="my-projects-link">Project
                            link</a><span class="my-projects-bracket"> <br />[</span> HTML5/CSS3,
                        SCSS, JavaScript, Figma, Parcel, Node.js, Git/GitHub<span class="my-projects-bracket">]</span>
                    </span>
                </li>
                <li class="my-projects-item">
                    <span class="my-projects-text">
                        <a href="https://vitasika.github.io/Filmoteka_project_Team_7/"
                            class="my-projects-link">Filmoteka</a>
                        - Movie search service. This is the second team project. -
                        <a href="https://github.com/vitasika/Filmoteka_project_Team_7" class="my-projects-link">Project
                            link</a><span class="my-projects-bracket"> <br />[</span> HTML5/CSS3,
                        SCSS, CSS3 Animations, JavaScript, Axios, Notflix,
                        Tui-pagination, Figma, Parcel, Webpack, Node.js, Git/GitHub
                        <span class="my-projects-bracket">]</span>
                    </span>
                </li>
            </ol>
        </div>

        <!-- My work experience section -->

        <div class="my-work-experience-section">
            <h3 class="main-content-title">Work Experince</h3>

            <!-- Company 1 -->

            <div *ngFor="let experienc of cv.experiences">
                <h4 class="my-work-experience-position">
                    <span class="my-work-experience-company">
                        <a href="https://rozetka.com.ua/" target="_blank"
                            class="my-projects-link">{{experienc.company}}</a>
                    </span>
                </h4>
                <div class="my-work-experience-divider">
                    <ng-template #thenBlock>{{experienc.endWork| date:'MMM y'}}</ng-template>
                    <ng-template #elseBlock> up to now </ng-template>
                    {{experienc.startWork| date:'MMM y'}} - <div
                        *ngIf="experienc.endWork.getTime; then thenBlock else elseBlock"></div>
                    <span>|</span> Ukraine/ Kyiv
                </div>

                <ul class="my-work-experience-duties">
                    <li class="my-work-experience-duty" *ngFor="let exper_it of experienc.description.split('\</p>')">
                        <div *ngIf='exper_it'>
                            <div [innerHTML]="exper_it"></div>
                            </div> 
                    </li>
                </ul>
            </div>
        </div>

        <!-- My education section -->

        <div class="my-education-section">
            <h3 class="my-education-header">Education</h3>
            <h4 class="my-experience-university">
                Cherkassy State Business College
            </h4>
            <h5 class="my-experience-faculty">Maintenance of computer and intelligent systems and networks</h5>
            <p class="my-work-experience-period">
                Year of graduation - 2003
                <span class="my-work-experience-divider">|</span> Ukraine | Cherkasy
            </p>
        </div>
        <div class="my-education-section">
            <h3 class="my-education-header">Additional Education</h3>
            <h4 class="my-experience-university">Android Basic</h4>
            <h5 class="my-experience-faculty">Application development for android</h5>
            <p class="my-work-experience-period">
                Year of graduation - 2012
                <span class="my-work-experience-divider">|</span> Ukraine
            </p>
        </div>
    </div>

    <!-- Sidebar sections-->

    <aside class="sidebar-sections">
        <img src={{get_photo()}} width="370" alt="my photo" />

        <!-- Contacts section  "../assets/img/Ava.png" -->

        <div class="contacts-section">
            <h3 class="sidebar-title">Contacts</h3>
            <ul class="tech-skills-list">
                <li class="tech-skills-item">
                    <a class="contacts-section-link" href="tel:{{cv.contact.phone}}">{{cv.contact.phone}}</a>
                </li>

                <li class="tech-skills-item">
                    <a class="contacts-section-link" href="mailto:{{cv.contact.email}}">{{cv.contact.email}}</a>
                </li>
                
                <li class="tech-skills-item" *ngFor="let socialNet of cv.contact.socialNetworks">
                    <a class="contacts-section-link" href={{socialNet.text}}>{{tupe(socialNet.subType)}}</a>
                </li>

                <li class="tech-skills-item">
                    <a class="contacts-section-link" href="{{cv.contact.portfolio}}">GitHub pages</a>
                </li>
            </ul>
        </div>

        <div class="tech-skills-section">
            <h3 class="sidebar-title">Tech Skills</h3>
            <ul class="tech-skills-list">


                <div *ngFor="let itemss of skils">
                    <li class="tech-skills-item">
                        <span class="tech-skills-item-text">{{itemss}}</span>
                </div>

            </ul>
        </div>

        <!-- Soft skills section -->

        <div class="soft-skills-section">
            <h3 class="sidebar-title">Soft Skills</h3>
            <ul class="soft-skills-list">
                <li class="tech-skills-item">
                    <span class="tech-skills-item-text">Creative</span>
                </li>
                <li class="tech-skills-item">
                    <span class="tech-skills-item-text">Positive attitude</span>
                </li>
                <li class="tech-skills-item">
                    <span class="tech-skills-item-text">Critical thinking skills</span>
                </li>
                <li class="tech-skills-item">
                    <span class="tech-skills-item-text">Ability to work efficiently both individually and in a
                        team</span>
                </li>
            </ul>
        </div>

        <!-- Language skills section -->

        <div class="lang-skills-section">
            <h3 class="sidebar-title">Language Skills</h3>
            <ul class="soft-skills-list">
                <li class="tech-skills-item">
                    <span class="tech-skills-item-text">Ukrainian - native</span>
                </li>
                <li class="tech-skills-item">
                    <span class="tech-skills-item-text">Russian - native</span>
                </li>
                <li class="tech-skills-item">
                    <span class="tech-skills-item-text">English - Pre-Intermediate (A2)</span>
                </li>
            </ul>
        </div>
        <!-- </div> -->
    </aside>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->